<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/header.css}" rel="stylesheet">
    <link  th:href="@{/styles/card-body.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/card-body :: job-card-body"></div>
</body>
<script type="text/javascript" th:src="@{/js/card-body.js}"></script>
</html>