<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="../static/styles/signup.css">
    <title>Title</title>
</head>
<style>

</style>
<body>
<div id="id01" class="modal">
  <form class="modal-content" method="post">
      <div class="container">
          <h1>Sign Up</h1>
          <p>To apply please fill up the form to create an account</p>
          <hr>
          <label>First Name</label>
          <input type="text" placeholder="Enter First Name" name="applicant_fname" required></br>
          <label>Last Name</label>
          <input type="text" placeholder="Enter Last Name" name="applicant_lname" required></br>
          <label>Street Name</label>
          <input type="text" placeholder="Enter Street Name" name="street_name" required></br>
          <label>House No.</label>
          <input type="text" placeholder="Enter House No." name="house_no" required></br>
          <label>City</label>
          <input type="text" placeholder="Enter City" name="city" required></br>
          <label>Division</label>
          <input type="text" placeholder="Enter Division" name="division" required></br>
          <label>Postal Code</label>
          <input type="text" placeholder="Enter Postal Code" name="postal_code" required></br>
          <label>Phone Number</label>
          <input type="text" placeholder="Enter Phone Number" name="phone_number" required></br>
          <label>Image</label>
          <input type="text" placeholder="Enter Image" name="image" required></br>
          <label>Resumee</label>
          <input type="text" placeholder="Enter Resumee" name="resumee" required></br>
          <label>Email</label>
          <input type="text" placeholder="Enter Email" name="email" required></br>
          <label>Password</label>
          <input type="password" placeholder="Enter Password" name="pass" required></br>
          <label>Repeat Password</label>
          <input type="password" placeholder="Repeat Password" name="rpass" required></br>

          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.
          </p>
          <div class="clearfix">
              <button type="button" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
          </div>
      </div>
  </form>
</div>

</body>
</html>